
.left{
    position: absolute;
    /* border: 2px solid red; */
    color: white;
    top: 10px;
    left: 30px;

}
.mid{
    position: block;
    /* border: 2px solid blue; */
    color: white;
    /* top: 10px; */
    width: 40%;
    margin: 11px 235px;
    

}
.right{
    position: absolute;
    /* border: 2px solid green; */
    color: white;
    top: 15px;
    right: 10px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 3px 28px;
    font-size: large;
   
}
.navbar li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    overflow: hidden;
}
.navbar li a:hover{
    text-decoration: underline;
} 
.logo{
    height: 90px;
}
.left div{
    text-align: center;
}
.btn{
    margin: 0px 15px;
    background-color: black;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 30px;
    transition: 0.1ms;
}
.btn:hover{
    background-color: white;
    color: black;
    padding: 10px 20px;
}
.btn-2:hover{
    background-color: white;
    color: black;
    padding: 10px 20px;
}
.container h1{
    text-align: center;
}
.container{
margin: 103px 159px;
padding: 20px 15px;
border: 2px solid white;
width: 453px;
height: 318px;
border-radius: 10px;
color: white;
}
.form_group input{
    display: block;
    padding: 10px 10px;
    margin: 10px 10px;
    width:  413px;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    /* backdrop-filter: blur(8px); */
    /* backdrop-filter: invert(80%); */
    /* background-blend-mode: screen; */
}
.container button{
    text-align: center;
    width: 426px;
}
.form_group input:focus::placeholder{
    color:black;
    /* text-align: left; */
    /* font: display 12px; */
    transition: 0.5s;
}
/* .form_group{
    background-blend-mode: screen;

} */
.title{
    /* border: 2px solid white; */
    width: 622px;
    height: 140px;
    text-align: left;
    color: white;
    /* mix-blend-mode: color; */
    right: 28px;
    font-size: 35px;
    /* top: 61px; */
    left: 26px;
    bottom: 37px;
    /* text-decoration: underline; */
    /* text-decoration-color: rgb(232, 3, 240); */
    /* display: block; */
    position: absolute;
    padding: 40px -42px;
    /* margin: -9px 144px; */
    position: absolute;
    padding: 40px -42px;
    /* margin: -9px 144px; */
    /* margin-top: 22px; */
    overflow: hidden;
}

.line{
    width: -9px;
    height: 183px;
    border: 2px solid white;
    position: absolute;
    top: 37px;
    background-color: white;
    /* right: -145px; */
    left: 0px;
}

/* .title:hover .ti-h{
    /* mix-blend-mode: color; */
    /* color: white; */
    /* padding-left: 0px; */
    /* transform:matrix(2,2,2,2); */
    /* transition:padding 1.5s; */
    /* transition: ease-in; */
    
/* } */ 

.ti-h{
    transition-timing-function: ease-in-out;
    transition-property: padding;
    /* transition-delay: 1s; */
    /* right: -32px; */
    left: 12px;
    position: absolute;
    /* word-break: break-all; */
    padding-left: -6px;
}
/* .title:hover .line{
    background-color: white;
    border: white; */
/* } */

.chat{
    position: absolute;
    right: 12px;
    bottom: 20px;
    height: 192px;
    overflow: hidden;
}

.share{
    position: absolute;
    right: -47px;
    bottom: 60px;
    height: 132px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.btn-2{
    /* position: absolute; */
    bottom: 26px;
    right: 12px;
    /* padding-top: 12px; */
    margin-top: 147px;
    /* margin: 0px 15px; */
    background-color: black;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 30px;
    transition: 0.1ms;
}

/* .btn-2:hover ~ .share{
    right: 10px;
    transition:0.5s ease-in-out;
} */

.item{
    height: 26px;
    width: 38px;
    background: black;
    color: white;
    border-radius: 51px;
    border: 2px solid white;
}
