html{
    scroll-behavior: smooth;
}
.left{
    position: absolute;
    /* border: 2px solid red; */
    color: white;
    top: 10px;
    left: 30px;


}
.mid{
    position: block;
    /* border: 2px solid blue; */
    color: white;
    /* top: 10px; */
    width: 48%;
    height: 61px;
    margin: -24px 235px;
    background-color: #3b40d6;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 0px 1px 1px 2px white;
    z-index: 10;

}
.right{
    position: absolute;
    /* border: 2px solid green; */
    color: white;
    top: 15px;
    right: 10px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 3px 28px;
    font-size: large;
   
}
.navbar li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    /* overflow: hidden; */
}
/* .navbar li a:hover{*/
    /* text-decoration: underline; */
/* }  */ 
.navbar li:hover{
    box-shadow: 3px 3px;
    transition: 0.5s ease;
}
.logo{
    height: 90px;
    filter: drop-shadow(3px 3px 1px red);
}
.left div{
    text-align: center;
}
.btn{
    margin: 0px 15px;
    background-color: black;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
    border: 2px solid ;
    border-radius: 30px;
    transition: 0.1ms;
}
.btn:hover{
    background-color: white;
    color: black;
    padding: 10px 20px;
}
.btn-2:hover{
    background-color: white;
    color: black;
    padding: 10px 20px;
}
.container h1{
    text-align: center;
}
.container{
margin: 140px 159px;
padding: 20px 15px;
border: 5px solid blue;
box-shadow: -5px 5px 2px 1px white;
width: 453px;
height: 318px;
border-radius: 10px;
color: white;
}

.form_group input{
    display: block;
    padding: 10px 10px;
    margin: 10px 10px;
    width:  413px;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    /* backdrop-filter: blur(8px); */
    /* backdrop-filter: invert(80%); */
    /* background-blend-mode: screen; */
}
.form_group input::placeholder {
    color: rgb(132, 62, 236);
}
.container button{
    text-align: center;
    width: 426px;
}
.container h1{
    font-family: 'Roboto Condensed', sans-serif;
}
.form_group input:focus{
    /* color: rgb(132, 62, 236); */
    /* color:black; */
    /* text-align: left; */
    /* font: display 12px; */
    box-shadow: 1px -1px 26px 6px rgb(132, 62, 236);
    /* box-shadow: inset -1px 26px 6px rgb(132, 62, 236); */
    color: white;   
    transition: 0.5s;
}
/* .form_group{
    background-blend-mode: screen;

} */
.title{
    /* border: 2px solid white; */
    width: 622px;
    height: 140px;
    text-align: left;
    color: white;
    /* mix-blend-mode: color; */
    right: 28px;
    font-size: 35px;
    /* top: 61px; */
    left: 90px;
    bottom: 37px;
    /* text-decoration: underline; */
    /* text-decoration-color: rgb(232, 3, 240); */
    /* display: block; */
    position: absolute;
    padding: 40px -42px;
    /* margin: -9px 144px; */
    position: absolute;
    padding: 40px -42px;
    /* margin: -9px 144px; */
    /* margin-top: 22px; */
    overflow: hidden;
    z-index: -1;
}
.con {
    height: 65px;
    margin-top: -67px;
    width: 515px;
    background-color: black;
    z-index: 10;
    position: absolute;
    left: 12px;
    top: 113px;
    animation: majama;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.2s;

}
.line-blink {
    height: 63px;
    width: 2px;
    left: 2px;
    position: absolute;
    background-color: white;
    animation: hello;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes majama {
    0% {
        left: 12px;
    }
    20% {
        left: 105px;
    }
    40% {
        left: 211px;
    }
    60% {
        left: 267px;
    }
    80% {
        left: 365px;
    }
    100% {
        left: 476px;
    }
}

@keyframes hello {
    from{
        background-color: white;
    }
    to{
        background-color: black;
    }
}

body::-webkit-scrollbar{
    background-color: black;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    /* box-shadow: inset 12px 2px 1px 1px white; */
    border-radius: 10px;
}
/* body::-webkit-progress-bar */
/* body::-webkit-scrollbar-track{ */
    /* background-color: transparent; */
    /* border:3px solid red; */
/* } */
/* body::webkit */
/* .bli-text p{
    contenteditable:
} */

.line{
    width: -9px;
    height: 75px;
    border: 2px solid blue;
    position: absolute;
    top: 37px;
    background-color: blue;
    /* right: -145px; */
    left: 0px;
    box-shadow: 0px 0px 17px 4px white
}

/* .title:hover .ti-h{
    /* mix-blend-mode: color; */
    /* color: white; */
    /* padding-left: 0px; */
    /* transform:matrix(2,2,2,2); */
    /* transition:padding 1.5s; */
    /* transition: ease-in; */
    
/* } */ 

.ti-h{
    transition-timing-function: ease-in-out;
    transition-property: padding;
    /* transition-delay: 1s; */
    /* right: -32px; */
    left: 12px;
    position: absolute;
    /* word-break: break-all; */
    padding-left: -6px;
}
/* .title:hover .line{
    background-color: white;
    border: white; */
/* } */

.chat{
    position: fixed;
    right: 12px;
    bottom: 20px;
    height: 192px;
    overflow: hidden;
    z-index: 1;

}

.share{
    position: absolute;
    right: -47px;
    bottom: 60px;
    height: 132px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /* border: 2px solid white;
    padding: 5px;
    border-radius: 50px; */
    /* background-color: aqua; */
}

.btn-2{
    /* position: absolute; */
    bottom: 26px;
    right: 12px;
    /* padding-top: 12px; */
    margin-top: 147px;
    /* margin: 0px 15px; */
    background-color: black;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 30px;
    transition: 0.1ms;
}

/* .btn-2:hover ~ .share{
    right: 10px;
    transition:0.5s ease-in-out;
} */

.item{
    height: 26px;
    width: 38px;
    background: black;
    color: white;
    border-radius: 51px;
    border: 2px solid white;
}

.about{
    margin: 80px 5px;
    padding: 120px 67px;
}
#about{
    margin-top: 213px;
    background-origin: content-box;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    height: 761px;
}

.about h2{
    margin: 33px 106px;
    font-size: 44px;
}

header{
    position: sticky;
    top: 1px;
    z-index: 20;
}
.card-items{
    border: 2px solid white;
}

.ab-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
    height: 450px;
    justify-content: space-around;
    font-family: sans-serif; 
}

.card-items{
    border: 5px solid white;
    height: 420px;
    width: 300px;
    /* overflow: hidden; */
}
.card-items .imgab img{
    height: 200px;
    /* z-index: 1; */
    /* margin: 1px 1px; */
    /* overflow: hidden; */
}

.card-items .imgab{
    overflow: hidden;
    /* border: 2px solid red; */
    filter: grayscale(1);
    transition: 0.4s all;
}

#imglist3{
    width: 300px;
}

/* #cardi1:hover #imglist1{ */
    /* height: 250px; */
    /* width: 350px; */
    /* pa */
    /* transition: 0.5s all ease; */
/* } */

#cardi1:hover{
    box-shadow: 7px 7px 3px 0px blue;
    margin-top: -10px;
    transition: 0.3s all ease-in-out;
}
/* .card-items:hover .imgba{
    /* transform: scale(1.5); */
    /* filter: grayscale(0); */
/* } */ 

#cardi1:hover .imgab {
    filter: grayscale(0);
}
#cardi2:hover .imgab {
    filter: grayscale(0);
}
#cardi3:hover .imgab {
    filter: grayscale(0);
}

.card1-info h3{
    text-align: center;
}

.card1-info ul{
    /* padding: 10px 10px; */
    font-size: 18px;
    list-style-type:square;
}

#ab-line{
    top: 882px;
    left: 155px;
    height: 72px;
    box-shadow: 0px 0px 0px 0px white;
}

#cardi2:hover{
    box-shadow: 7px 7px 3px 0px blue;
    margin-top: -10px;
    transition: 0.3s all ease-in-out;
}
#cardi3:hover{
    box-shadow: 7px 7px 3px 0px blue;
    margin-top: -10px;
    transition: 0.3s all ease-in-out;
}
.card1-info p{
    padding: 0px 30px;
    font-size: 18px;
}

.corner-box{
    color: white;
    background-color: rgb(132, 62, 236);
    transform: rotate(90deg);
    position: fixed;
    height: 60px;
    width: 410px;
    left: -190px;
    top: 331px;
    /* border: 4px solid; */
    /* border-radius: 0px; */
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */ 
}

.cornert-con{
    display: flex;
}
#cr-box-2{
    background-color: black;
    /* border: 2px solid; */
    height: 46px;
    width: 205px;
    font-size: 29px;
    padding-top: 8px;
    align-items: center;
    text-align: center;
    /* padding-right: 83px; */
    box-shadow: 1px -2px 0px 1px  rgb(132, 62, 236);
    /* font-family: "bebas new"; */
    font-family: 'Bebas Neue', sans-serif;
}
#cr-box-1{
    font-family: sans-serif;
    /* background-color: black; */
    /* border: 2px solid; */
    height: 46px;
    width: 205px;
    font-size: 19px;
    text-align: center;
    padding-top: 12px;
    box-shadow: -1px -2px 0px 1px;
}

/* #cr-box-2:hover{
    box-shadow: 1px -2px 0px 1px ;
    transition: 0.4s all ease-in-out;
} */

#ab-header{
    font-family: 'Bebas Neue', sans-serif; 
}
/* #bli-text{ */
    /* font-family: 'Bebas Neue', sans-serif;  */
/* } */
#Fitness-cal{
    margin-top: -20px;
    background-origin: content-box;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    height: 761px;
}

#ab-line1{
    top: 1643px;
    left: 155px;
    height: 72px;
    box-shadow: 0px 0px 0px 0px white;
}

.Fit{
    margin: 20px 5px;
    padding: 120px 67px;
}

#ab-header{
    margin: 33px 106px;
    font-size: 44px;
}
.cal-form{
    position: relative;
    margin: 12px 100px;
    padding: 12px 12px;
    border: 2px solid;
    height: 390px;
    border-radius: 10px;
    border: 5px solid blue;
    box-shadow: -5px 5px 2px 1px white;
    /* box-shadow: inset -5px 5px 2px 1px white; */
}
.cal-con{
    display: flex;
    justify-content: space-evenly
}
.cal-con1{
    height: 390px;
    width: 525px;
    /* border: 2px solid; */
    font-family: 'Roboto Condensed', sans-serif;
}

#cal-blo1{
    text-align: center;
    box-shadow: 3px 0px 0px 0px white;
    
}
#cal-blo2{
    text-align: center;
    box-shadow: -3px 0px 0px 0px white;
}

#cal-blo1 h2{
    font-size: 35px;
}
#cal-blo2 h2{
    font-size: 35px;
}

.cal-form-blo{
    font-size: 17px;
    width: 195px;
    color: white;
    background: black;
    border: 2px solid white;
    /* box-shadow: 0px 3px 0px 0px white; */
    transition: all ease 0.5s;
    height: 30px;
    border-radius: 11px;
    text-align: center;
    /* box-shadow: 1px -1px 26px 6px white; */
}

.cal-form-blo:focus{
    box-shadow: 1px -1px 26px 6px rgb(132, 62, 236);
    /* box-shadow: inset -1px 26px 6px rgb(132, 62, 236); */
    color: white;
}

.cal-form-blo::placeholder{
    color: rgb(132, 62, 236);
}
.cal-form-blo::-webkit-outer-spin-button,
.cal-form-blo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cal-form-final{
    font-size: 30px;
}

.form-contents{
    padding: 20px 50px;
    text-align: left;
    /* color: white; */
}

.cal-header-after::after{
    content: "";
    height: 4px;
    width: 0px;
    top: 83px;
    position: absolute;
    left: 186px;
    background:  rgb(132, 62, 236);
    transition: all ease 0.5s;
    /* z-index: 100; */    
}
.cal-header-after1::after{
    content: "";
    height: 4px;
    width: 0px;
    top: 83px;
    position: absolute;
    /* left: 315px; */
    right: 225px;
    background: rgb(132, 62, 236);
    transition: all ease 0.5s;
    /* z-index: 100;*/   
}

#cal-blo1:hover .cal-header-after::after{
    width: 239px;
    content: "";
    height: 4px;
    /* width: 0px; */
    top: 83px;
    position: absolute;
    left: 186px;
    background:  rgb(132, 62, 236);
    transition: all ease 0.5s;
}
#cal-blo2:hover .cal-header-after1::after{
    width: 159px;
    content: "";
    height: 4px;
    /* width: 0px; */
    top: 83px;
    position: absolute;
    /* left: 186px; */
    right: 225px;
    background:  rgb(132, 62, 236);
    transition: all ease 0.5s;
}
.Bmi-index{
    display: flex;
    flex-direction: column;
    margin: 2px 2px;
    padding: 2px 2px;
    /* width: 358px; */
    /* border: 2px solid; */
    height: 245px;
}
.bmi-res{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 160px;
}
.bmi-unit{
    position: relative;
    /* bottom: -95px; */
    top: 95px;
    font-size: 25px;
    left: 12px;
    color: rgb(132, 62, 236);
}
.bmi-num{
    font-size: 125px;
}

.bmi-com{
    margin: 11px 100px;
    padding: 0px 3px;
    font-size: 50px;
    box-shadow: 1px -1px 26px 6px rgb(132, 62, 236);
    border-radius: 50px;
}

#plans{
    margin-top: -20px;
    background-origin: content-box;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    height: 761px;
}

#pl-line1{
    top: 2404px;
    left: 155px;
    height: 72px;
    box-shadow: 0px 0px 0px 0px white;
}

#pl-header{
    margin: 33px 106px;
    font-size: 44px;    
    font-family: 'Bebas Neue', sans-serif; 
}

.plans-fit{
    margin: 20px 5px;
    padding: 120px 67px;
}

.plan-select-block{
    position: relative;
    margin: -25px 94px;
    padding: 0px 150px;
    /* border: 2px solid; */
    height: 386px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 721px;
    z-index: 11;
    /* border: 5px solid blue; */
    /* box-shadow: -5px 5px 2px 1px white;*/  
}

.plan-sel{
    margin: 23px 2px;
    height: 80px;
    /* z-index: 17; */
    background-color: black;
}
.plan-sel1{
    margin: -19px 82px;
    padding: 0px 0px;
    border: 2px solid;
    height: 100px;
    display: block;
    text-align: center;
    width: 780px;
    transform: skew(0deg);
    transition: all ease 0.5s;
    border-radius: 15px;
}

/* #plan-sel-1{
} */

.radio-btn{
    left: 245px;
    /* top: 290px; */
    /* color: purple; */
    position: absolute;
    z-index: 14;
    transform: scale(1.5);
    accent-color: rgb(132, 62, 236);
}
.real-radio-btn{
    left: 245px;
    /* top: 290px; */
    /* color: purple; */
    position: absolute;
    z-index: 16;
    /* opacity: 0; */

}

#plan-1[type="radio"]:checked+label{
    box-shadow: 0px 0px 50px 10px rgb(132, 62, 236);
    /* height: 12px; */
    transition: all ease 0.5s;
}
#plan-2[type="radio"]:checked+label{
    box-shadow: 0px 0px 50px 10px rgb(132, 62, 236);
    /* height: 12px; */
    transition: all ease 0.5s;
}
#plan-3[type="radio"]:checked+label{
    box-shadow: 0px 0px 50px 10px rgb(132, 62, 236);
    /* height: 12px; */
    transition: all ease 0.5s;
}
/* 
#plan-1[type="radio"]:checked .pl-he{
    color: red;
} */



.pl-he{
    position: absolute;
    left: 50px;
    top: -5px;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}
.pl-pr{
    position: absolute;
    right: 20px;
}

#pl-1-access{
    position: absolute;
    text-wrap: balance;
    width: 490px;
    left: 285px;
    top: 10px;
    text-align: left; 
}

#pl-2-access{
    position: absolute;
    text-wrap: balance;
    width: 490px;
    left: 285px;
    top: 10px;
    text-align: left;
}

#pl-3-access{
    position: absolute;
    text-wrap: balance;
    width: 406px;
    left: 285px;
    top: 10px;
    text-align: left;
}
/* .real-radio-btn{
    left: 247px;
    top: 36px;
    /* color: purple; */
    /* position: absolute;
    z-index: 16;
    height: 18px;
    width: 18px;
    background: rgb(132, 62, 236);
    border-radius: 50px;
} */ 
/* #rl-ra-btn1{
    
}
#rl-ra-btn2{
    top: 160px;
}
#rl-ra-btn3{
    top: 286px;
} */


.pl-he::after{
    /* left: -1px; */
    content: "";
    height: 4px;
    width: 110px;
    position: absolute;
    background-color: rgb(132, 62, 236);
    top: 43px;
}
#pl-he-1::after{
    left: 109px;
    width: 0px;
    transition: all ease 0.5s;
}

#plan-div-1:hover #pl-he-1::after{
    left: -4px;
    width: 205px;
}
#pl-he-2::after{
    left: 62px;
    width: 0px;
    transition: all ease 0.5s;
}

#plan-div-2:hover #pl-he-2::after{
    left: -4px;
    width: 125px;
}
#pl-he-3::after{
    left: 55px;
    width: 0px;
    transition: all ease 0.5s;
}

#plan-div-3:hover #pl-he-3::after{
    left: -4px;
    width: 105px;
}
.pl-next{
    margin: 14px 400px;
    padding: 2px 2px;
    height: 55px;
    width: 152px;
    /* border: 2px solid;*/
}
.pl-next-step{
    height: 55px;
    width: 150px;
    background-color: rgb(132, 62, 236);
    font-size: 20px;
    color: white;
    transform: skew(-20deg);
    transition: all ease 0.5s;
    /* border: 2px solid; */
    /* box-shadow: 0px 0px 6px 2px white; */
}
.pl-next-step-1{
    transform: skew(20deg);
}

.pl-next-step:hover{
    box-shadow: -2px 2px 0px 0px white;
}

.con-more-line{
    position: absolute;
    height: 125px;
    width: 632px;
    top: 2390px;
    right: 60px;
    /* transform: rotate(90deg); */
    z-index: 9;
}
.line-title{
    font-size: 125px;
    /* text-shadow: 0px 1px 0px white; */
    color: black;
    -webkit-text-stroke: 1px #f6efef78;
    font-family: 'Roboto Condensed', sans-serif;
    position: inherit;
    top: -114px;
}

.contact{
    margin: 20px 5px;
    padding: 120px 67px;
    padding-bottom: 0px;
}
#contact-us{
    margin-top: -20px;
    background-origin: content-box;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    height: 761px;
}

#contact-header{
    margin: 33px 106px;
    font-size: 44px;    
    font-family: 'Bebas Neue', sans-serif; 
}

#contact-line1{
    top: 3165px;
    left: 155px;
    height: 72px;
    box-shadow: 0px 0px 0px 0px white;
}

.con-blo{
    margin: 2px 2px;
    padding: 2px 2px;
    height: 470px;
    width: 1410px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}
.con-blo-1{
    margin: 2px 2px;
    padding: 2px 2px;
    height: 360px;
    width: 1398px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-items{
    margin: 2px 2px;
    padding: 2px 2px;
    height: 312px;
    width: 432px;
    text-align: center;
    /* border: 2px solid; */
    /* box-shadow: 5px 0px 0px 0px white; */
}
.con-last{
    top: 60px;
    font-size: 25px;
    margin: 2px 2px;
    padding: 2px 2px;
    height: 86px;
    width: 1518px;
    text-align: center;
    /* border: 2px solid; */
    position: relative;
    z-index: 0;
    left: -81px;
    border-radius: 15px;
    background: black;
}

.con-type-img{
    /* border: 2px solid; */
    height: 205px;
}

.con-img{
    border: 2px solid;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 160px;
    top: 15px;
    box-shadow: 0px 0px 50px 10px rgb(132, 62, 236);
}
.con-head{
    position: relative;
    top: -15px;
    font-size: 50px;
}
.con-type-item{
    position: relative;
    top: 25px;
    font-size: 32px;
}
#con-items-1{
    box-shadow: 5px 0px 0px 0px white;
}
#con-items-2{
    box-shadow: 5px 0px 0px 0px white;
}